<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>

<link rel="stylesheet" href="/styles.css">

<body>

<div class="head">
    <a class="home-btn" href="/"></a>
</div>

@RenderBody()

<div class="basement">
    <a class="personal-link" href="https://github.com/veglem"></a>
    <a class="personal-link" href="https://vk.com/veg_lem"></a>
    <a class="personal-link" href="https://t.me/Veglem"></a>
</div>

</body>
</html>