@using RIP_lab01
@using RIP_lab01.Models
@model List<RIP_lab01.UnivesityUnit>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form method="get" action="/page" class="search-form">
    <div class="search-icon"></div>
    <input type="text" size="40" name="search" class="search-line">
    <button type="submit" class="search-btn">󰌑</button>
</form>

@foreach (UnivesityUnit div in Model)
{
    <div class="struct-block">
        <form method="post" action="/api/page/@div.Id/delete" class="delete-form">
            <button type="submit" class="delete-btn">x</button>
        </form>
        <h2>@div.Name</h2>
        <img src="/@div.ImgUrl" alt="@div.ImgUrl" height="100"/>
        <div>Сотрудников: @div.UniversityEmployees.Count</div>
        <a href="/page/@div.Id.ToString()">подробнее..</a>
    </div>
    
}
